@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(/src/assets/fonts/roboto-regular-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url(/src/assets/fonts/roboto-bold-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url(/src/assets/fonts/roboto-medium-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(/src/assets/fonts/roboto-italic-webfont.woff2) format('woff2');
    font-style: italic;
}
:root {
    /* --page-orange: rgb(255, 178, 34);
    --dark-orange: rgb(255, 153, 0); */
    --page-orange: rgb(230, 227, 227);
    --dark-orange: rgb(187, 186, 186);
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body {
    font-family:'Roboto',sans-serif;
    font-size: 100%;
    padding: 10px 60px;
 }
 header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: .5rem;
    max-width: 530px;
 }
h1 {
    font-weight: bold;
    color: var(--dark-orange);
    display: inline-block;
    font-size: 3rem;
    margin-bottom: 0;
}
.sort {
    color:rgb(109, 109, 109);
    font-size: 1.4rem;
    /* padding-bottom: 2px; */
    padding: 2px;
    position: relative;
}
.sort:hover {
    cursor: pointer;
    /* font-weight: bold; */
}
.sort-menu {
    font-size: 1.2rem;
    color:rgb(109, 109, 109);
    position:absolute;
    left:-19px;
    top: 2.3rem;
    padding:5px;
    display: none;
}
.sort-menu ul>li {
    padding: 4px 6px;
    text-align: center;
    margin: 0;
}
.sort-menu ul>li:hover {
    background-color:var(--page-orange);
    color:white;
    border:none;
    border-radius: 4px;
}
.sort-menu ul li+li {
    border-top:1px solid rgb(175, 172, 172);
    text-align: center;
    margin: 0;
}
 .content {
    border: 4px solid var(--page-orange);
    border-radius: 6px;
    min-height: 80%;
    padding:4px 10px;
    max-width: 530px;
 }


 h2 {
    margin: 0;
 }
 .list-toggle {
    color: var(--page-orange);
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    width:20px;

}
.list-toggle:hover {
    color: var(--dark-orange);
    cursor: pointer;
}
.minus {
    font-size: 2.3rem;
    padding-right: 0.2rem;
}

.task-list-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* outline:dotted red .4px;  */
    line-height: 2.4rem;
}

.task-list-heading div,h2 {
    /* outline:dotted green .4px;  */
}

.task-list-name {
    grid-area: 2/2/3/3;
    justify-content: flex-start;
    align-items: flex-end;
}

.task-item {
    display: grid;
    grid-template-rows: 1.4rem;
    grid-template-columns: 25px 1fr 35px 120px 35px;
    padding-top: 12px;
    padding-bottom: 6px;
    border-bottom: 1.4px solid rgb(175, 172, 172);
}
.task-item div {
    /* outline:dotted green .4px; */
}
.task-expand {
    grid-template-rows: 1.4rem 2.9rem auto;
}
.task-priority {
    grid-area: 1/1/2/2;
    align-items: center; 
    display: flex;
    justify-content: flex-start;
}
.circle {
    height: 16px;
    width:16px;
    background-color: green;
    border-radius: 50%;
    display: block;
}
.task-name {
    grid-area: 1/2/2/4;
    font-size: 1.1rem;
}
.task-toggle {
    grid-area: 1/5/2/6;
    color: var(--page-orange);
    font-size: 2rem;
    font-weight: bold;
    line-height: 1rem;
    text-align: center;
}
.task-toggle:hover {
    color: var(--dark-orange);
    cursor: pointer;
}
.task-info {
    grid-area: 3/2/4/6;
    padding-right: 1.7rem;
    font-size: 0.95rem;
    color: rgb(10, 10, 10);
    font-style: italic;
    padding-left: 8px;
    padding-top: 4px;
}
.task-edit {
    grid-area: 2/3/3/4;
    display: flex;
    align-items: center;
    justify-content:center;
}
.task-edit img {
    height: 1.5rem;
}
.task-edit img:hover {
    cursor: pointer;
}
.task-status {
    grid-area: 2/4/3/5;
    text-align: center;
    justify-content: center;
    align-items: flex-end;    
}
.task-due {
    grid-area: 1/4/2/5;
    text-align: end;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}
.task-delete {
    grid-area: 2/5/3/6;
    display: flex;
    align-items: flex-end;
    justify-content:center;
    padding-bottom: -5px;
}
.task-delete img {
    height: 1.6rem;
}
.task-delete img:hover {
    cursor: pointer;
}
.newTaskButton {
    height: 50px;
    width:50px;
    background-color: var(--page-orange);
    border-radius: 50%;
    display: inline-block;
    text-align:center;
    line-height: 49px;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.newTaskButton:hover {
    background-color:var(--dark-orange);
    cursor: pointer;
}
.newListButton {
    color: var(--dark-orange);
    width:fit-content;
    padding:7px 12px;
    border-radius: 4px;
    margin-top: 12px;
    margin-left: auto;
    font-size: 1.2rem;
    font-weight: bold;
    border:solid 3px var(--page-orange);
}
.newListButton:hover {
    background-color:var(--dark-orange);
    cursor: pointer;
    color:white;
    border:solid 3px var(--dark-orange);
}
.toggle {
    display: none;
}

.noTasksMsg {
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    font-style: italic;
    /* font-size: 0.95rem; */

}
