@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(/src/assets/fonts/roboto-regular-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url(/src/assets/fonts/roboto-bold-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url(/src/assets/fonts/roboto-medium-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(/src/assets/fonts/roboto-italic-webfont.woff2) format('woff2');
    font-style: italic;
}
:root, :root.grey {
    --heading-color: #565656;
    --border-color: #D7CEC7;
    --button-color: #565656;
    --text:rgb(76, 75, 75);
}
:root, :root.orange {
    --heading-color: rgb(255, 159, 28);
    --border-color: rgb(255, 191, 105);
    --button-color: rgb(255,153,0);
    --text:rgb(117, 117, 117);
}
:root, :root.blue {
    --heading-color: #0B3C5D;
    --border-color: #2b77a3;
    --button-color: #104f79;
    --text:#1D2731;
}
:root, :root.black {
    --heading-color: #0A1612;
    --border-color: #c5c1c0;
    --button-color: #1a2930;
    --text:#1a2930;
}
:root, :root.green {
    --border-color: #009933;
    --heading-color: rgb(1, 112, 1);
    --button-color: #009933;
    --text:#1a2930;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body {
    font-family:'Roboto',sans-serif;
    font-size: 100%;
    padding: 10px 70px;
    min-width: 280px;
    max-width: 640px;
 }
header,footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 0.7rem;
 }
h1 {
    font-weight: bold;
    color: var(--heading-color);
    font-size: 3rem;
    margin-bottom: 0;
    line-height: 3rem;
}
.sort {
    font-size: 1.7rem;
    line-height: 1.7rem;
    padding: 2px;
    position: relative;
    color:var(--text)
}
.sort-text:hover {
    cursor: pointer;
    font-weight: bold;
}
.sort-menu {
    font-size: 1.2rem;
    color:var(--text);
    position:absolute;
    left:55px;
    top: -0.5rem;
    padding:5px;
    display: none;
}
.sort-menu ul>li {
    padding: 4px 6px;
    text-align: center;
    margin: 0;
}
.sort-menu ul>li:hover {
    background-color:var(--heading-color);
    color:white;
    border:none;
    border-radius: 4px;
}
.sort-menu ul li+li {
    border-top:1px solid rgb(175, 172, 172);
    text-align: center;
    margin: 0;
}
.content {
    border: 4.9px solid var(--border-color);
    border-radius: 6px;
    min-height: 75%;
    padding:4px 10px;
    color: var(--text);
    min-width: 260px;
 }
.task-list {
    min-width:265px ;
}
/* .task-list>div {
    outline: dotted red .2px;
} */
.task-list-heading {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2.4rem;
    /* padding:1px 8px 5px 1px; */
    display: grid;
    grid-template-rows: 2.4rem;
    grid-template-columns: auto 30px 1fr;
    padding:1px 8px 5px 1px;
}
/* .task-list-heading>div {
    outline: dotted red .4px;
} */


 h2 {
    margin: 0;
    margin-right: 18px;
    color: var(--heading-color);
 } 
 h2:hover {
    cursor: pointer;
 }
 .listNameTitle {
    padding: 1px;
    grid-area: 1/1/2/2;
 }
.list-delete {
    /* margin-left: auto; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left:8px;
    grid-area: 1/2/2/3;
}
.list-delete img {
    height: 1.7rem;
}
.list-toggle {
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    width:20px;
    grid-area: 1/3/2/4;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.list-toggle:hover {
    color: var(--border-color);
    cursor: pointer;
}
.minus {
    font-size: 2.3rem;
    padding-right: 0.2rem;
}
.taskListWrapper {
    /* background-color: rgb(223, 187, 187);
    outline: dotted purple .4px; */

    grid-area: 2/1/3/4;
    display: grid;
    grid-template-rows: 0; 
    overflow: hidden;
    transition: grid-template-rows 1s ease-in;
}
.showList {
    /* grid-template-rows:min-content;  */
    grid-template-rows:auto; 
}
/* .inner {
    outline: dotted purple .4px;
    overflow: hidden;
} */

.task-item {
    display: grid;
    grid-template-rows: 1.7rem;
    grid-template-columns: 25px 1fr 25px 110px 35px 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1.4px solid rgb(175, 172, 172);
}
.task-item:last-child {
    margin-bottom: 10px;
}
.task-priority {
    grid-area: 1/1/2/2;
    align-items: center; 
    display: flex;
    justify-content: flex-start;
}
.circle {
    height: 16px;
    width:16px;
    border-radius: 50%;
    display: block;
}
.task-name {
    grid-area: 1/2/2/4;
    font-size: 1.1rem;
}
.task-due {
    grid-area: 1/4/2/5;
    text-align: end;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}
.task-toggle {
    grid-area: 1/5/2/6;
    color: var(--heading-color);
    font-size: 2rem;
    font-weight: bold;
    line-height: 1rem;
    text-align: center;
}
.task-toggle:hover {
    color: var(--border-color);
    cursor: pointer;
}
.taskWrapper {
    grid-area:2/2/3/6;
    display: grid;
    grid-template-columns: 1fr 25px 110px 35px ;
    grid-template-rows: 0 0; 
    overflow: hidden;
    transition: grid-template-rows 0.3s;
}

.showTask {
    grid-template-rows: 1.7rem 1.7rem; 
}

.task-list-name {
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
}
.task-edit {
    grid-area: 1/2/2/3;
    display: flex;
    align-items: center;
    justify-content:center;
}
.task-edit img {
    height: 1.5rem;
}
.task-edit img:hover {
    cursor: pointer;
}
.task-status {
    grid-area: 1/3/2/4;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;    
}
.task-delete {
    grid-area: 1/4/2/5;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-bottom: -5px;
}
.task-delete img {
    height: 1.6rem;
}
.task-delete, .list-delete img:hover {
    cursor: pointer;
}
.task-info {
    grid-area: 2/1/3/5;
    padding-right: 1.7rem;
    font-size: 0.95rem;
    color: rgb(10, 10, 10);
    font-style: italic;
    padding-left: 8px;
    padding-top: 1px;
}

/* Buttons */
.newTaskButton {
    height: 50px;
    width:50px;
    background-color: var(--heading-color);
    border-radius: 50%;
    display: inline-block;
    text-align:center;
    line-height: 49px;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.newTaskButton:hover {
    background-color:var(--border-color);
    cursor: pointer;
}
.footerButton {
    background-color: var(--button-color);
    width:fit-content;
    padding:4px 12px;
    border-radius: 4px;
    margin-top: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    border:solid 3px var(--button-color);
    color:white;
}
.footerButton:hover {
    background-color:var(--heading-color);
    cursor: pointer;
    color:white;
    border:solid 3px var(--heading-color);
}
.toggle {
    display: none;
}
.noTasksMsg {
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    font-style: italic;
}

dialog{
    min-width: 200px;
    outline:none;
}

.hide {
    display: none;
}

/* @media screen and (max-width:500px) {
.task-list-name {
    grid-area: 2/2/3/5;
    justify-content: flex-start;
    align-items: flex-end;
}
.task-item {
    display: grid;
    grid-template-rows: 1.4rem;
    grid-template-columns: 25px 1fr 25px 95px 35px 15px;
}
.task-expand {
    grid-template-rows: 1.4rem 2.9rem auto;
}
.task-priority {
    grid-area: 1/1/2/2;
}
.task-name {
    grid-area: 1/2/2/4;
}
.task-due {
    grid-area: 1/4/2/5;
    text-align: end;
    padding-right: 0;
    padding-bottom: 0.1rem;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}
.task-toggle {
    grid-area: 1/5/2/6;
}
.task-list-name {
    grid-area: 2/2/3/5;
}
.task-edit {
    grid-area: 2/5/3/6;
}
.task-info {
    grid-area: 3/2/4/5;
    padding-left: 0;
}
.task-delete {
    grid-area: 3/5/4/6;
}
.task-status {
    grid-area: 4/2/5/5;
    text-align: start;
    justify-content:start;
    align-items: flex-end; 
}
body {
    padding: 10px 30px;
}    
} */

.div1 {
    margin:30px;
    width:400px;
    height: 400px;
    background-color: blue;
    }
.div2 {
    /* margin:auto; */
    width:300px;
    height: 300px;
    background-color:red;    
}
.div3 {
    /* margin:auto; */
    width:200px;
    height: 200px;
    background-color: green;      
}
.div1:hover {
    cursor: pointer;
}
.div2:hover {
    cursor: pointer;
}
.div3:hover {
    cursor: pointer;
}