@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(/src/assets/fonts/roboto-regular-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url(/src/assets/fonts/roboto-bold-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url(/src/assets/fonts/roboto-medium-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(/src/assets/fonts/roboto-italic-webfont.woff2) format('woff2');
    font-style: italic;
}
:root, :root.grey {
    background-color:white;
    --heading-color: #565656;
    --border-color: #8b8b8b;
    --button-color: #565656;
    --button-hover-color:#807e7d;
    --input-color: #8b8b8b;
    --text:rgb(76, 75, 75);
    --filter: invert(33%) sepia(1%) saturate(0%) hue-rotate(350deg) brightness(93%) contrast(86%);
    --hover-filter:  invert(0%) sepia(4%) saturate(0%) hue-rotate(309deg) brightness(93%) contrast(107%);
}
:root, :root.orange {
    background-color:rgb(252, 252, 252);
    --heading-color: rgb(255, 159, 28);
    --border-color: rgb(255, 191, 105);
    --button-color: rgb(236, 159, 42);
    --button-hover-color:rgb(255, 159, 28);
    --input-color: rgb(255, 191, 105);
    --text:rgb(117, 117, 117);
    --filter: invert(77%) sepia(35%) saturate(4460%) hue-rotate(344deg) brightness(101%) contrast(101%);
    --hover-filter: invert(95%) sepia(24%) saturate(5708%) hue-rotate(308deg) brightness(99%) contrast(103%);
}
:root, :root.blue {
    background-color:white;
    --heading-color: #152985;
    --border-color: #092f96;
    --button-color: #092f96;
    --button-hover-color: #194b8b;
    --input-color: #092f96;
    --text:#1D2731;
    --filter: invert(17%) sepia(79%) saturate(536%) hue-rotate(161deg) brightness(103%) contrast(99%);
    --hover-filter: invert(37%) sepia(70%) saturate(469%) hue-rotate(158deg) brightness(95%) contrast(92%);
}
:root, :root.black {
    background-color:#1a2930 ;
    --heading-color: #c5c1c0;
    --border-color: white;
    --button-color: #b8b8b8;
    --button-hover-color: #949190;
    --input-color: #1a2930;
    --text:white;
    --filter: invert(6%) sepia(9%) saturate(2593%) hue-rotate(109deg) brightness(94%) contrast(95%);
    --hover-filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(309deg) brightness(93%) contrast(107%);
    & .newTaskButton {
        background-color: var(--button-color);
    }
    & .newTaskButton:hover {
        background-color: var(--button-hover-color);
    }
    /* & input {
    outline: solid 2px var(--background-color);
    } */
}
:root, :root.green {
    background-color:white;
    --border-color: #009933;
    --heading-color: rgb(1, 112, 1);
    --button-color: #009933;
    --button-hover-color:rgb(1, 112, 1); 
    --input-color: #009933;
    --text:#1a2930;
    --filter: invert(24%) sepia(54%) saturate(2665%) hue-rotate(95deg) brightness(94%) contrast(99%);
    --hover-filter: invert(29%) sepia(98%) saturate(1359%) hue-rotate(121deg) brightness(99%) contrast(101%);
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body {
    font-family:'Roboto',sans-serif;
    font-size: 100%;
    padding: 10px calc(28px + 1.5vw) 15px;
    min-width: 280px;
    max-width: 640px;
    margin:0px auto;
 }
header,footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 0.7rem;
 }
footer {
    justify-content: space-between;
}
header {
    justify-content:center;
}
h1 {
    font-weight: bold;
    color: var(--heading-color);
    font-size: 3rem;
    margin-bottom: 0;
    line-height: 3rem;
    margin-right: auto;
}
.sort {
    align-self: flex-end;
    font-size: 1.7rem;
    line-height: 1.7rem;
    padding: 2px;
    position: relative;
    color:var(--text);
    margin-left: auto;
}
.sort-text:hover {
    cursor: pointer;
    font-weight: bold;
}
.sort-wrapper {
    padding:10px 16px;
    position:absolute;
    left:-36px;
    top: 2rem;
    background-color: white;
    visibility: visible;
    opacity: 1;
    transition: all .1s;
}
.sort-menu {
    font-size: 1.2rem;
    color:var(--text);
    padding:5px;
    outline: solid 3px var(--button-color);
    opacity:1;
    border-radius: 8px;
    background-color: white;
}
.sort-menu ul>li {
    padding: 4px 6px;
    text-align: center;
    margin: 0;
}
.sort-menu ul>li:hover {
    background-color:var(--heading-color);
    color:white;
    border:none;
    border-radius: 4px;
}
.sort-menu ul li+li {
    border-top:1px solid rgb(175, 172, 172);
    text-align: center;
    margin: 0;
}
.content {
    border: 4.9px solid var(--border-color);
    border-radius: 6px;
    min-height: 75%;
    padding:4px 10px;
    color: var(--text);
    min-width: 260px;
 }
.task-list {
    min-width:265px ;
}
.task-list-heading {
    display: grid;
    grid-template-rows: 2.4rem;
    grid-template-columns: auto 30px 1fr;
    padding:1px 8px 5px 1px;
}
 h2 {
    margin: 0;
    margin-right: 18px;
    color: var(--heading-color);
 } 
 h2:hover {
    cursor: pointer;
 }
 .listNameTitle {
    padding: 1px;
    grid-area: 1/1/2/2;
 }
.list-delete {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left:8px;
    grid-area: 1/2/2/3;
    transition: all 0.2s;
    visibility: visible;
    opacity: 1;
}
.list-delete img {
    height: 1.7rem;
}
.hide {
    visibility: hidden;
    opacity: 0;
}
.list-toggle {
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    width:20px;
    grid-area: 1/3/2/4;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.list-toggle:hover {
    color: var(--border-color);
    cursor: pointer;
}
.minus {
    font-size: 2.3rem;
    padding-right: 0.2rem;
}
.taskListWrapper {
    grid-area: 2/1/3/4;
    display: grid;
    grid-template-rows: 0fr; 
    transition: grid-template-rows 0.3s;
}
.showList {
    grid-template-rows:1fr; 
}
.inner {
    overflow: hidden;
}
.task-item {
    display: grid;
    grid-template-rows: 1.7rem;
    grid-template-columns: 25px 1fr 25px 110px 35px 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1.4px solid rgb(175, 172, 172);
}
.task-item:last-child {
    margin-bottom: 10px;
}
.task-priority {
    grid-area: 1/1/2/2;
    align-items: center; 
    display: flex;
    justify-content: flex-start;
}
.circle {
    height: 16px;
    width:16px;
    border-radius: 50%;
    display: block;
}
.task-name {
    grid-area: 1/2/2/4;
    font-size: 1.1rem;
}
.task-due {
    grid-area: 1/4/2/5;
    text-align: end;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}
.task-toggle {
    grid-area: 1/5/2/6;
    color: var(--heading-color);
    font-size: 2rem;
    font-weight: bold;
    line-height: 1rem;
    text-align: center;
}
.task-toggle:hover {
    color: var(--border-color);
    cursor: pointer;
}
.taskWrapper {
    grid-area:2/2/3/6;
    display: grid;
    grid-template-columns: 1fr 25px 110px 35px ;
    grid-template-rows: 0 0; 
    overflow: hidden;
    transition: grid-template-rows 0.3s;
}
.showTask {
    grid-template-rows: 1.7rem 1.7rem; 
    grid-template-rows: 1.7rem auto; 
}
.task-list-name {
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
}
.task-edit {
    grid-area: 1/2/2/3;
    display: flex;
    align-items: center;
    justify-content:center;
}
.task-edit img {
    height: 1.5rem;
}
.task-status {
    grid-area: 1/3/2/4;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;    
}
.task-delete {
    grid-area: 1/4/2/5;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-bottom: -5px;
}
.task-delete img {
    height: 1.6rem;
}
.task-info {
    grid-area: 2/1/3/5;
    padding-right: 1.7rem;
    font-size: 0.95rem;
    color: rgb(10, 10, 10);
    font-style: italic;
    padding-left: 8px;
    padding-top: 1px;
    line-height: 1.7rem;
}

.toggle {
    display: none;
}
.noTasksMsg {
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    font-style: italic;
}
dialog{
    min-width: 200px;
    outline:none;
}
img {
    filter:var(--filter);
}
img:hover {
    cursor: pointer;
    filter: var(--hover-filter);
}
.newTaskButton {
    height: 50px;
    width:50px;
    background-color: var(--border-color);
    border-radius: 50%;
    display: inline-block;
    text-align:center;
    line-height: 47px;
    font-size: 3rem;
}
.newTaskButton:hover {
    background-color:var(--heading-color);
}
.footerButton {
    background-color: var(--button-color);
    width:fit-content;
    padding:7px 15px;
    border-radius: 4px;
    margin-top: 12px;
    font-size: 1.2rem;
    color:white;
}
.button {
    color:white;
    font-weight: bold;
}
.button:hover {
    background-color:var(--button-hover-color);
    cursor: pointer;
}

@media screen and (max-width:520px) {
.task-list-name {
    grid-area: 2/2/3/5;
}
.task-item {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25px 1fr 25px 95px 35px 15px;
}
.task-priority {
    grid-area: 1/1/2/2;
    display: flex;
    align-items:flex-start;
    padding-top: 5px;
}
.task-name {
    grid-area: 1/2/2/4;
    line-height: 1.35rem;
}
.task-due {
    grid-area: 1/4/2/5;
    text-align: end;
    padding-right: 0;
    padding-bottom: 0.1rem;
    display: flex;
    align-items:flex-start;
    justify-content: flex-end;
}
.task-toggle {
    grid-area: 1/5/2/6;
}
.taskWrapper{
    grid-template-rows: 0 0 0;
}
.showTask {
    grid-template-rows: 1.7rem auto; 
}
.task-list-name {
    grid-area: 1/1/2/5;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 8px;
}
.task-edit {
    grid-area: 1/5/2/6;
}
.task-status {
    grid-area: 2/1/3/5;
    text-align: start;
    justify-content:start;
    align-items: flex-end; 
    padding-left: 8px;
}
.task-delete {
    grid-area: 2/5/3/6;
}
.task-info {
    grid-area: 3/1/4/5;
    padding-left: 8px;
}
/* body {
    padding: 10px 30px;
}     */
} 